/*
    Gintonic Web
    Author:    Philippe Lafrance
    Link:      http://gintonicweb.com
    
*/
.gtwComments .media-object img{height:54px;width:54px;}
.gtwComments .pull-left{height:40px;width:40px;border:1px solid #777;}
.gtwComments .media-body{position: relative;}
.gtwComments .newcomment .textarea {float: left;height: 40px;width: 100%;padding: 5px;padding-right: 68px;font-size:12px;}
.gtwComments .newcomment .postbutton {border-radius: 0 4px 4px 0;height: 40px;position: absolute;right: 0;width: 68px;}
.datetime{font-size:12px;color:#777;}
.gtwComments .commentlist{margin-top:15px;}
.gtwComments .befirst{font-size:12px;font-style:italic;margin-left:69px;}
.gtwComments .viewallcomment {padding: 5px;text-align: center;background: #fff;display: block;margin: 15px 0;}
.gtwComments .deletecomment{display:none;margin-right:15px;}
.gtwComments .commentlist .media:hover .deletecomment{display:block;}